swagger: '2.0'
info:
  title: Amori API Gateway
  description: API Gateway for Amori wedding invitation platform
  version: 1.0.0
host: amori-gateway-1s5q4ca1.an.gateway.dev
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
  - multipart/form-data
x-google-backend:
  address: http://34.111.59.90.nip.io
paths:
  /api/auth/signup:
    post:
      summary: User signup
      operationId: signup
      consumes:
        - multipart/form-data
      produces:
        - application/json
      x-google-backend:
        address: http://34.111.59.90.nip.io/api/auth/signup
      responses:
        '201':
          description: Signup successful
          schema:
            type: object
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
        '400':
          description: Bad request
        '500':
          description: Internal server error
    options:
      summary: CORS preflight for signup
      operationId: corsSignup
      produces:
        - application/json
      x-google-backend:
        address: http://34.111.59.90.nip.io/api/auth/signup
      responses:
        '200':
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Access-Control-Max-Age:
              type: string
  /api/auth/login:
    post:
      summary: User login
      operationId: login
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
              password:
                type: string
      x-google-backend:
        address: http://34.111.59.90.nip.io/api/auth/login
      responses:
        '200':
          description: Login successful
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
        '401':
          description: Unauthorized
    options:
      summary: CORS preflight for login
      operationId: corsLogin
      produces:
        - application/json
      x-google-backend:
        address: http://34.111.59.90.nip.io/api/auth/login
      responses:
        '200':
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Access-Control-Max-Age:
              type: string
  /api/auth/upload-image:
    post:
      summary: Upload profile image
      operationId: uploadImage
      consumes:
        - multipart/form-data
      produces:
        - application/json
      x-google-backend:
        address: http://34.111.59.90.nip.io/api/auth/upload-image
      responses:
        '200':
          description: Upload successful
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
    options:
      summary: CORS preflight for image upload
      operationId: corsUploadImage
      produces:
        - application/json
      x-google-backend:
        address: http://34.111.59.90.nip.io/api/auth/upload-image
      responses:
        '200':
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Access-Control-Max-Age:
              type: string
  /api/user/me:
    get:
      summary: Get current user info
      operationId: getCurrentUser
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      x-google-backend:
        address: http://34.111.59.90.nip.io/api/user/me
      responses:
        '200':
          description: User info retrieved
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Credentials:
              type: string
        '401':
          description: Unauthorized
    options:
      summary: CORS preflight for user info
      operationId: corsGetUser
      produces:
        - application/json
      x-google-backend:
        address: http://34.111.59.90.nip.io/api/user/me
      responses:
        '200':
          description: CORS preflight response
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Credentials:
              type: string
            Access-Control-Max-Age:
              type: string
  /:
    get:
      summary: Health check
      operationId: healthCheck
      x-google-backend:
        address: http://34.111.59.90.nip.io/
      responses:
        '200':
          description: Service healthy
  /health:
    get:
      summary: Health check endpoint
      operationId: healthCheckAlt
      x-google-backend:
        address: http://34.111.59.90.nip.io/health
      responses:
        '200':
          description: Service healthy
