swagger: '2.0'
info:
  title: Amori API Gateway
  description: API Gateway for Amori wedding invitation platform
  version: 1.0.0
host: amori-gateway-1s5q4ca1.an.gateway.dev
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
  - multipart/form-data
x-google-backend:
  address: http://34.50.146.225.nip.io
paths:
  /api/auth/signup:
    post:
      summary: User signup
      operationId: signup
      consumes:
        - multipart/form-data
      produces:
        - application/json
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/auth/signup
      responses:
        '201':
          description: Signup successful
          schema:
            type: object
        '400':
          description: Bad request
        '500':
          description: Internal server error
  /api/auth/login:
    post:
      summary: User login
      operationId: login
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
              password:
                type: string
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/auth/login
      responses:
        '200':
          description: Login successful
        '401':
          description: Unauthorized
  /api/auth/upload-image:
    post:
      summary: Upload profile image
      operationId: uploadImage
      consumes:
        - multipart/form-data
      produces:
        - application/json
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/auth/upload-image
      responses:
        '200':
          description: Upload successful
  /api/user/me:
    get:
      summary: Get current user info
      operationId: getCurrentUser
      produces:
        - application/json
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      x-google-backend:
        address: http://34.50.146.225.nip.io/api/user/me
      responses:
        '200':
          description: User info retrieved
        '401':
          description: Unauthorized
  /:
    get:
      summary: Health check
      operationId: healthCheck
      x-google-backend:
        address: http://34.50.146.225.nip.io/
      responses:
        '200':
          description: Service healthy
  /health:
    get:
      summary: Health check endpoint
      operationId: healthCheckAlt
      x-google-backend:
        address: http://34.50.146.225.nip.io/health
      responses:
        '200':
          description: Service healthy
